table {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
th {
    text-align: center!important;
}

td {
    text-align: center!important;
}

nav-item.focus{
    color: bisque;
}

#bE.hover{
    color: green;
}

.mat-button .mat-button-focus-overlay {
    background-color: green;
  }

.highlight{
    background: #e4e9eb
}