<h2>
  Roster: 
</h2>

<table mat-table [dataSource] = "dataSource" class = "mat-elevation-z8">
  
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>  ID  </th>
    <td mat-cell *matCellDef="let player"> {{player.id}} </td>
  </ng-container>

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
    <td mat-cell *matCellDef="let player"> {{player.nombre}} </td>
  </ng-container>

  <ng-container matColumnDef="jersey">
    <th mat-header-cell *matHeaderCellDef> Jersey </th>
    <td mat-cell *matCellDef="let player"> {{player.jersey}} </td>
  </ng-container>

  <ng-container matColumnDef="estatura">
    <th mat-header-cell *matHeaderCellDef> Estatura </th>
    <td mat-cell *matCellDef="let player"> {{player.estatura}} </td>
  </ng-container>

  <ng-container matColumnDef="peso">
    <th mat-header-cell *matHeaderCellDef> Peso </th>
    <td mat-cell *matCellDef="let player"> {{player.peso}} </td>
  </ng-container>

  <ng-container matColumnDef="posicionF">
    <th mat-header-cell *matHeaderCellDef> Posición de Fildeo </th>
    <td mat-cell *matCellDef="let player"> {{player.posicionF}} </td>
  </ng-container>

  <ng-container matColumnDef="posicionB">
    <th mat-header-cell *matHeaderCellDef> Posición de Bateo </th>
    <td mat-cell *matCellDef="let player"> {{player.posicionB}} </td>
  </ng-container>

  <ng-container matColumnDef="fec_nacimiento">
    <th mat-header-cell *matHeaderCellDef> Fecha Nacimiento </th>
    <td mat-cell *matCellDef="let player"> {{player.fec_nacimiento | date: 'dd/MM/yyyy'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>