<mat-progress-bar
          class="example-margin"
          color="primary"
          mode="indeterminate"
          *ngIf = "enviando === true"
          >
</mat-progress-bar>

<div class="container my-5">
    <div class="container my-5">
        <h2>
            Ingresa la información del nuevo jugador:
        </h2>
    </div>

    <form #playerForm="ngForm">

        <div class="form-row py-sm-3">

            <div class="form-group col-md-6">

                <label for="Name1"> <b> Nombre Completo:</b> </label>
                <input type="text" class="form-control" id="Name1" placeholder="Nombre Completo" required [(ngModel)]="newplayer.nombre"
                    name="completeName" #name="ngModel" />

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    El nombre completo es requerido
                </div>

            </div>

            <div class="form-group col-md-6">
                <label for="inputName4"> <b>Fecha de Nacimiento:</b></label>

                <div class="container">
                    <mat-form-field id="I2">
                        <input id="I3" matInput [matDatepicker]="picker" [(ngModel)]="newplayer.fec_nacimiento" name="borndate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Estatura"><b>Estatura (Metros):</b></label>
                <input type="number" class="form-control" name="height" placeholder="Estatura" step="0.05" min="0"
                    required [(ngModel)]="newplayer.estatura" name="alturajugador" #estat="ngModel" />
                <div [hidden]="estat.valid || estat.pristine" class="alert alert-danger">
                    La estatura del jugador es requerida
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="Peso"><b>Peso (lbs):</b></label>
                <input type="number" class="form-control" name="weight" placeholder="Peso" step="10" min="0" required
                    [(ngModel)]="newplayer.peso" name="pesoJugador" #pes="ngModel" />
                <div [hidden]="pes.valid || pes.pristine" class="alert alert-danger">
                    El peso del jugador es requerido
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="Posición"><b>Posición de Juego:</b></label>
                <select class="form-control" (change)="SelectOption($event);" [(ngModel)] ="ddPos" required name="dropdown">
                    <option [ngValue]="undefined" disabled selected>Posición de Juego</option>
                    <option *ngFor="let position of posiciones">{{position}}</option>                    
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Atrapa"><b>Atrapa:</b></label>
                <select class="form-control" (change)="CambioAtrapa($event);" [(ngModel)] ="ddAt" required name="dropdownA">
                        <option [ngValue]="undefined" disabled selected>Atrapa</option>
                    <option *ngFor="let v_atrapa of ValoresAtrapa">{{v_atrapa}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="Batea"><b>Batea:</b></label>
                <select class="form-control" (change)="CambioBatea($event);" [(ngModel)] ="ddBa" required name="dropdownB">
                        <option [ngValue]="undefined" disabled selected>Batea</option>
                    <option *ngFor="let v_atrapa of ValoresAtrapa">{{v_atrapa}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                    <label for="Jersey"><b>No. Jersey:</b></label>
                    <input type="number" class="form-control" name="height" placeholder="Jersey" step="1" min="0" max="99"
                        required [(ngModel)]="newplayer.jersey" name="jerseyjugador" #jers="ngModel" />
                    <div [hidden]="jers.valid || jers.pristine" class="alert alert-danger">
                        El No. de Jersey del jugador es requerido
                    </div>
                </div>
        </div>

        <div class="form-row float-right">
            <button type="button" class="btn btn-lg float-right" [disabled]="!playerForm.form.valid" (click)="GuardarJugador(); playerForm.reset()">Guardar Jugador</button>
        </div>
    </form>
</div>